* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

html {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(CivilWar4/CAPMARVEL_Desktop-Wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
	display: block;
	width: 100%;
	background-color: rgba(159, 163, 168, .5);
}

header h1 {
	margin-bottom: 0px;
}

header p {
	margin-top: 8px;
}

input {
	width: 300px;
}

.form-container {
	margin-top: 15px;
	width: 100%;
}

.character-container {
	margin-top: 15px;
}

.char-info {
  border: 1px solid #E5E5E5;
  margin-top: 30px;
  	background-color: rgba(159, 163, 168, .5);
}

.char-img {
	width: 100%;
}

.char-descrip {
	text-align: left;
	padding: 20px;
}

.char-descrip h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.char-descrip p {
	margin-top: 8px;
	margin-bottom: 8px;
}

.comic-container {
	margin-top: 15px;
}

.comic-info {
    border: 1px solid #E5E5E5;
    margin-top: 30px;
}

.comic-img {
	width: 100%;
}

.comic-descrip {
	text-align: left;
	padding: 20px;
	background-color: rgba(159, 163, 168, .5);
}

.comic-descrip h3 {
	margin-top: 0px;
	margin-bottom: 0px;

}

.comic-descrip p {
	margin-top: 8px;
	margin-bottom: 8px;
}

.cover-container {
	display: inline-block;
}
