* {
	font-family: "Roboto", sans-serif;
}

html {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(CivilWar4/CAPMARVEL_Desktop-Wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
	display: block;
	width: 100%;
	background-color: rgba(159, 163, 168, .5);
}

header h1 {
	margin-bottom: 0px;
}

header p {
	margin-top: 8px;
}

input {
	width: 300px;
}

form {
	text-align: center;
	margin-top: 50px;
}

.app-instructions > p {
	text-align: center;
	background-color: rgba(159, 163, 168, .5);
}
.character-section {
	max-width: 218.03px;
	max-height: 218.03px;
	margin: auto;
}

.char-info {
  border: 1px solid #E5E5E5;
  margin-top: 30px;
  background-color: rgba(159, 163, 168, .5);
}

.char-img {
	width: 100%;
}

.char-descrip {
  text-align: center;
	padding: 20px;
}

.char-descrip h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.char-descrip p {
	margin-top: 8px;
	margin-bottom: 8px;
}

.comic-section {
	margin-top: 75px;
}

.comic-container {
	margin-top: 15px;
}

.comic-info {
	border: 1px solid #E5E5E5;
  margin-top: 30px;
  background-color: rgba(159, 163, 168, .5);
}

.comic-img {
	width: 100%;
}

.comic-descrip {
	text-align: left;
	padding: 20px;
	min-height: 105px;
}

.comic-descrip h3 {
	margin-top: 0px;
	margin-bottom: 0px;

}

.comic-descrip p {
	margin-top: 8px;
	margin-bottom: 8px;
}

.cover-container {
	text-align: center;
}

@media only screen and (max-width: 640px) {
	* {
		text-align: center;
	}
	input {
		width: 100%;
	}
}